* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: rgb(206, 206, 206);
    --white: rgb(235, 235, 235);
    --black: rgb(34, 36, 37);
    --mainBackground: rgb(37, 63, 136);

    /*default font*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);

    /*text shadow*/
    --textShadow: 2px 1px 2px var(--black);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black);
    min-height: 100vh;
}

main {
    width: 100%;
    max-width: 360px;
    min-height: 95Vh;
    gap: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-image: url(img/soleado.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: inset 2px 2px 5px var(--white), inset -2px -2px 5px var(--black);
}

.header-class {
    display: flex;
    justify-content: space-between;
}

h1 {
    align-self: left;
    color: var(--white);
    text-shadow: 2px 1px 2px var(--black);
    font-size: 1.5rem;
}

.burger {
    filter: drop-shadow(var(--textShadow));
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: var(--textShadow);
}

.bar {
    content: "";
    background: var(--white);
    width: 20%;
    height: 2px;
    box-shadow: var(--textShadow);
}

h2 {
    align-self: center;
    text-shadow: var(--textShadow);
    font-size: 4rem;
}

.hours-temp {
    display: flex;
    flex-direction: row;
    opacity: .5;
    text-shadow: var(--textShadow);
    align-items: flex-start;
    justify-content: flex-start;
}

.temp-h {
    background: var(--mainBackground);
    padding: .2rem .5rem;
    border-inline: 3px solid white;
    border-radius: .5rem;
    text-align: center;   
}

h3 {
    font-size: .8rem;
}

.data-container {
    display: flex;
    justify-content: space-around;
}

.temperature {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 2px solid var(--white);
    padding: .3rem;
    border-radius: 1rem;
    background: var(--black);
    opacity: .5;
    align-items: center;
}

.title {
    font-size: .8rem;
}

.temp, .prob {
    font-weight: 800;
    padding: 0 .5rem;
    align-items: center;
    justify-content: center;
}